<%- include("../includes/head") %>
<link rel="stylesheet" href="/css/login/login.css">
    </head>

    <body>
        <%- include("../includes/navigation") %>
            <main class="main-content">
                <div class="home-container">
                    <h1>Restablecer contraseña</h1>
                    <form class="login-form" action="/new-password/<%= token %>" method="POST">
                        <% if (errors.length > 0) { %>
                        <p class="error"><%= errors %></p>
                        <% } %>
                        <label for="password">Nueva contraseña</label>
                        <input class="login-input" type="password" name="password" placeholder="contraseña" id="password">
                        <label for="confirmPassword">Confirmar contraseña</label>
                        <input class="login-input" type="password" name="confirmPassword" placeholder="confirmar contraseña" id="confirmPassword">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="login-button" type="submit">Restablecer contraseña</button>
                    </form>
                </div>
            </main>
            <%- include("../includes/end") %>